/* font-family: "Sofia", cursive;
font-family: "Noto Sams", sans-serif
 */

 :root {
    --font1: "Sofia", "cursive";
    --font2: " Noto Sams", sans-serif;
    --prim: white;
    --sec: rgb(253, 119, 141);
    --btnColor: #213349;    
    --grad: radial-gradient(
        at top center,
        #ec8da1,
        #e7718b
        );
    --sec2Border:#fce3e7;
    --tert: #b2a4a4;
}

*{
    box-sizing: border-box;
}

/* *tags */

body {
    margin: 0;
    padding: 0;
    font-family var(--font1);
}

/*classes */


.clear { 
    clear: both;
}

.box {

}


.btn { 
    padding: 8px;
    margin-left: 15 px;
    background-color: var(--btnColor);
    color: #fff;    
    border-radius: 5px;
}

.colophon, #bottomSocialNav { 
    width: 50%;
    float: left;
}

.colophon {
    margin: 0;
    color: #fff;
}

.container {
    margin: 0 auto;
    width: 80%;
    border: 1 px solid black;
}

.content-heading {
    color: white;
}

.figure {
    border: 5px solid #b8c4d4;
    height: 140px; 
    width: 280px;
    float: left;
}

.footer {
    background-color: #26292e;
}

.header {
    padding: 4px 0; 
    width: 100%;
    background-color: var(--sec);
}

.heading, #topSocialNav {
  float: left;  
}

.heading {
    margin:0;
    width:50%;
    ;
}




.icons {
    background-color: #fff;
}

.laptop {
    float: right;
}

.products {
    margin: 0 40px 20px 0;
    width: 2275px;
    height: 135px;
    
    
}

.products {

}

.nav {
    
}


.bold {
    font-weight: 900;
    color: black;
}

.bottomSocialNav {
    float: right;
}

/*  ids  */


#block1, #block2, #block3  {
    width: 100%;
    padding: 0;
    
    
}

#heading {
    width: 50%;
    color: var(--prim);
    font-family: var(--font1);
    text-transform: capitalize;
}

#section1 {
    padding: 20px;
    width:100%;
    background-color: var(--prim);
    background-image: var(--grad);
}

#section2 {
    background-color: var(--tert);
    border-bottom: ;
}

#section2{
    width: 0;
    padding: 0;
    
}

#section1Box1,#section2 {
    
}

#spanClass {

}

#topSocialNav {
    list-style: none;
}

#topSocialLIst {
}










































