/* font-family: "Sofia", cursive;
font-family: "Noto Sams", sans-serif
 */

 :root {
    --font1: "Sofia", "cursive";
    --font2: " Noto Sams", sans-serif;
    --prim: white;
    --sec: rgb(253, 119, 141);
    --btnColor: #213349;    
    --grad: radial-gradient(
        at top center,
        #ec8da1,
        #e7718b
        );
    --sec2Border:#fce3e7;
    --tert: #b2a4a4;
}

*{
    box-sizing: border-box;
}

/* *tags */

body {
    margin: 0;
    padding: 0;
    font-family: var(--font1);
}

/*classes */

.clear { 
    clear: both;
}

.btn { 
    padding: 8px;
    margin-left: 15 px;
    background-color: var(--btnColor);
    color: #fff;    
    border-radius: 5px;
}

.colophon {
    margin: 0;
    color: #fff;
}

.content-heading {
    color: white;
}

.footer {
    padding: 4px 0;
    width: 100%;
    background-color: #26292e;
}

.header {
    padding: 4px 0; 
    width: 100%;
    background-color: var(--sec);
}

.icons {
    background-color: #fff;
}


.bold {
    font-weight: 900;
    color: black;
}

.products{
    width: ;
}

/*  ids  */

#heading {
    color: var(--prim);
    font-family: var(--font1);
    text-transform: capitalize;
}

#section1 {
    padding: 20px 0;
    background-color: var(--prim);
    background-image: var(--grad);
}

#section2 {
    background-color: var(--tert);
    border-bottom: 6px solid var(--sec2Border) ;
}

#section3{
    padding: 30px 0;
}











































